<div class="container-fluid">
  <h1 class="pt-4 text-center">Registration Form</h1>

  {{registrationForm && registrationForm.status | json}}
  {{registrationForm && registrationForm.value | json}}

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group pt-2">
      <label>Username</label>
      <input type="text" [class.is-invalid]="userName && userName.invalid && userName.touched"
        formControlName="userName" class="form-control">
      <!-- <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">Username is required</small> -->
      <div *ngIf="userName && userName.invalid && userName.touched">
        <small class="text-danger" *ngIf="userName.errors?.['required']">Username is required</small>
        <small class="text-danger" *ngIf="userName.errors?.['minlength']">Username must be at least 3 characters</small>
        <small class="text-danger"
          *ngIf="userName.errors?.['forbiddenName']">'{{userName.errors?.['forbiddenName'].value}}' username not
          allowed</small>
      </div>
    </div>

    <div class="form-group pt-3">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control">
    </div>

    <div class="form-group pt-3">
      <label>Confirm Password</label>
      <input type="password" [class.is-invalid]="registrationForm && registrationForm.errors?.['misMatch']"
        formControlName="confirmPassword" class="form-control">
      <small class="text-danger" *ngIf="registrationForm && registrationForm.errors?.['misMatch']">Passwords do not
        match</small>
    </div>

    <div class="form-group pt-3">
      <label>Email</label>
      <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmail()">Add e-mail</button>
      <input type="text" [class.is-invalid]="email && email.invalid && email.touched" formControlName="email"
        class="form-control">
      <small class="text-danger" [class.d-none]="email && email.valid || email && email.untouched">Email is
        required</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" class="form-control my-1" [formControlName]="i">
      </div>
    </div>

    <div class="form-check mb-3 pt-3">
      <input class="form-check-input" formControlName="subscribe" type="checkbox">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <div formGroupName="address">

      <div class="form-group">
        <label>City</label>
        <input type="text" formControlName="city" class="form-control">
      </div>

      <div class="form-group pt-3">
        <label>State</label>
        <input type="text" formControlName="state" class="form-control">
      </div>

      <div class="form-group pt-3">
        <label>Postal Code</label>
        <input type="text" formControlName="postalCode" class="form-control">
      </div>

    </div>

    <button class="btn btn-primary mt-4 mb-4" [disabled]="!registrationForm.valid" type="submit">Register</button>
    <button (click)="loadAPIData()" class="btn btn-secondary mt-4 mb-4" type="button">Load API Data</button>

  </form>
</div>